
*.log
*.class
*.jar
*.war
*.ear
*.iml
*.iws
*.swp
*~ 
HELP.md
.factorypath
.gitattributes


.DS_Store
Thumbs.db


target/


.project
.classpath
.settings/
.codenarc
.checkstyle


.idea/
*.iws
*.ipr
*.iml
out/


logs/
*.log


build/
dependency-reduced-pom.xml


bin/
.mvn/
mvnw
mvnw.cmd


.mvn/
.wrapper/


*.tmp
test-output/


.env
.env.*